nav.top-bar
  ul
    li.name
      a(href="/")
        img(src="/images/foundation/orbit/logo.png")
  section
    ul.right
      li
        a(href="register") Register
    ul.right
      li
        a(href="login") Login