nav.top-bar
  ul
    li.name
      a(href="/")
        img(src="/images/logo.png")
    li.toggle-topbar
      a(href="#")
  section
    if !isLoggedIn()
      ul.right
        li
          a(href="register") Register
        li
          a(href="login") Login
    else
      ul.right
        li
          a(href="/users") Users
        li.has-dropdown
          a(href="#") Account

          ul.dropdown
            li
              a(href="/users/#{currentUser().user_name}") Profile
            li
              a(href="/users/#{currentUser().user_name}/edit") Settings
            li.divider
            li
              form(action="/logout", method="POST")
                input(type="hidden", name="_method", value="delete")
                input(type='submit', class="button regular radius", value= "Sign Out" )
