@import "foundation.min.css"

// Variables

black                          = #000000
body_background_color          = #f16651
error_message_color            = #C60F13
form_header_size               = 40px
homepage_info_header_size      = 2em
form_color                     = #383838
success_message_color          = #00AFF0
white                          = #ffffff


// Functions and Mixins

border_radius(radius = 1px)
  border-radius         radius
  -webkit-border-radius radius
  -moz-border-radius    radius

generic_font_family()
  font-family "ff-enzo-web" , Helvetica, sans-serif

// Miscellaneous

.form_header
  font-size form_header_size

.blue
  color #07A4C7

.red
  color red

// Fix bug for input box with mobile layout

@media only screen and (max-width: 767px)
  input[type="text"].nine, .row input[type="text"].nine, input[type="password"].nine, .row input[type="password"].nine, input[type="date"].nine, .row input[type="date"].nine, input[type="datetime"].nine, .row input[type="datetime"].nine, input[type="email"].nine, .row input[type="email"].nine, input[type="number"].nine, .row input[type="number"].nine, input[type="search"].nine, .row input[type="search"].nine, input[type="tel"].nine, .row input[type="tel"].nine, input[type="time"].nine, .row input[type="time"].nine, input[type="url"].nine, .row input[type="url"].nine, textarea.nine, .row textarea.nine
    width: 80% !important;

// Code

body
  background-color body_background_color
  generic_font_family()

  div.row:first-child
    padding-bottom 50px

.form_container
  border_radius 12px
  background-color form_color
  border solid 1px black
  padding 20px 20px 20px 80px

h1, h2, h3, h4, h5, h6
  color white
  font-weight normal
  generic_font_family()

li
  list-style-type none

label
  font-size 14px
  color #92a4ac
  font-weight 500


.tagline
  text-align center
  line-height 1.25
  margin 0 0 110px
  font-weight 200
  font-size 3.50em
  color #191d1c

.green_highlight
  background-color #99d999
  font-weight normal
  border_radius 4px

.yellow_highlight
  background-color  #fff081
  font-weight normal
  border_radius 4px

.center_text
  text-align center

// Flash Messages

.full_message
  display block
  padding 6px 7px 7px 7px
  font-weight 600
  font-size 19px
  color white
  border 1px solid rgba(0, 0, 0, 0.1)
  margin-bottom 12px
  text-shadow 0 -1px rgba(0, 0, 0, 0.3)
  position relative

.info
  background-color success_message_color
  color white
  @extend .full_message
  text-shadow 0 -1px rgba(0, 0, 0, 0.3)

.error
  background-color error_message_color
  @extend .full_message
  color white
  text-shadow 0 -1px rgba(0, 0, 0, 0.3)


// Homepage

.homepage_info
  img
    display block
    margin auto

  p
    text-align center
    padding-top 12px
    font-family "Verdana"
    color #191d1c
    font-weight 200
    font-size 20px

.homepage_info_header
  font-size homepage_info_header_size
  font-weight 600

.move_right
  margin-left 15px

// Users Message box

.chatroom

  background-color #F9F9F9
  border_radius 8px
  color rgb(119, 119, 119)
  font-family "Helvetica Neue",Arial,sans-serif
  padding 15px
  position relative

.chatroom_header
  margin-bottom 15px
  img
    margin 0 5px 0 0


.chat_row
  border-bottom 1px solid gray
  border-left 1px solid gray
  border-right 1px solid gray
  border-top 1px solid gray
  height 48px
  position relative
  width 100%

  &:hover
    background-color lighten(#333, 70)
    cursor pointer
    -moz-box-shadow: 2px 2px 10px #999;
    -webkit-box-shadow: 2px 2px 10px #999;
    box-shadow: 2px 2px 10px #999;

  li
    position absolute
    left 77px
    top 20px

  img:nth-of-type(1)
    position absolute
    top 7px

  img:nth-of-type(2)
    position absolute
    left 47px
    top 18px

.trending_box
  color rgb(119, 119, 119)
  font normal 11px "Helvetica Neue",Arial,sans-serif
  margin-bottom 8px
  position relative
  background-color #F9F9F9
  border_radius 8px
  padding 5px


.trending_box li
  padding 2px

.shared_config_for_message_box
  background-color #F9F9F9
  background rgb(249,249,249)
  border_radius 8px
  margin-bottom 25px
  padding 15px


.new_message
  @extend .shared_config_for_message_box
  height 78px

  img
    border_radius 4px
    float left

  input
    border_radius 10px
    float left
    height 48px
    margin-left 15px

  textarea
    border_radius 5px
    clear left
    float left
    height 80px
    margin 10px 0 10px 63px

  #new_msg_text_box
    display none
    position relative

    p:nth-of-type(1)
      left 63px
      position absolute
      top  30px
    p:nth-of-type(2)
      font-size 24px
      right 10%
      position absolute
      top 0

    li
      a:first-child
        left 0
        position absolute
    a
      clear left
      display inline-block
      float left
      margin-left 63px


.latest_messages
  @extend .shared_config_for_message_box
  min-height 110px
  position relative

  img
    border_radius 4px

  a
    color black
    position absolute
    left 78px
    top 15px

    &:hover
      color body_background_color

  p
    color black
    font-size 12px
    padding 0 10px 0 10px
    position absolute
    left 68px
    top 35px

.trending_header
  font-size 16px
  color #383838
  font-weight 600


.online_users
  font-family "Helvetica Neue",Arial,sans-serif
  font-size 15px
  font-weight bold
  color #099ABA
  font-variant small-caps


.offline_users
  font-family "Helvetica Neue",Arial,sans-serif
  font-size 15px
  font-weight bold
  color #099ABA
  font-variant small-caps

.pos
  margin-left 15px
  &:nth-of-type(1)
    margin-top 10px

  &:nth-of-type(2)
    margin-top 20px

  &:nth-of-type(3)
    margin-top 30px

// Chat Box

.chat-box
  background-color white
  height 345px
  position fixed
  bottom 0
  right 0
  z-index 3000000000

.chat-box-header
  border-bottom 1px solid gray
  height 32px
  position relative
  width 260px

.chat-box-header img:nth-of-type(1)
  left 5px
  position absolute
  top 7px

.chat-box-header img:nth-of-type(2)
  cursor pointer
  position absolute
  right 25px
  top 7px

.chat-box-header img:nth-of-type(3)
  cursor pointer
  position absolute
  right 5px
  top 7px

.chat-box-header p
  left 30px
  position absolute
  top 4px

.chat-box textarea
  bottom 0
  height 80px
  left 9px
  position absolute
  width 240px

.minimized-chat-box
  background-color white
  bottom 0
  display none
  height 32px
  position fixed
  right 0
  width 258px
  z-index 3000000000

.minimized-chat-box-header p
  left 30px
  position absolute
  top 4px

.minimized-chat-box-header img:nth-of-type(1)
  left 5px
  position absolute
  top 7px

.minimized-chat-box-header img:nth-of-type(2)
  cursor pointer
  position absolute
  right 25px
  top 7px

.minimized-chat-box-header img:nth-of-type(3)
  cursor pointer
  position absolute
  right 5px
  top 7px

.default_offline_text
  background-color lighten(#333, 70)
  bottom 90px
  left 10px
  position absolute
  text-align center
  width 240px