.chat-box
  .chat-box-header
    p
      = current_user
    img(src= online_path)
    img.toggle_chat_box(src="images/minimize_icon.png", alt="minimize")
    img.exit_chat(src="images/close_icon.png", alt="close")
  textarea(type="text", name="message")
.minimized-chat-box
  .minimized-chat-box-header
    p
      = current_user
    img(src=online_path)
    img.toggle_chat_box(src="images/minimize_icon.png", alt="minimize")
    img.exit_chat(src="images/close_icon.png", alt="close")