.six.columns
  .new_message
    img(src="http://placehold.it/48x48/000000/ffffff/")
    input.nine#message_box(type="text" , placeholder="Share what's new...")
    form#new_msg_text_box
      li
        a(href="")
          = "@" + current_user
      p View Your Profile
      p.char_count 150
      textarea.nine#new_msg(type="text" , placeholder="Share what's new...")
      a.tiny.share_msg_btn.secondary.radius.button(href="#") Share
  for user in recent_users.models
    .latest_messages
      img.mini_profile_pic(src="http://placehold.it/48x48/000000/ffffff/")
      a(href='#')
        = "@" + user.get('user_name')
      p
        = helper.get_recent_msg(user)
.four.columns
  .trending_box
    h3.capitalize.trending_header Trending on Koadr
    #trending_topics
.two.columns.end
  .chatroom
    h4.trending_header
      | Koadr Users
    h4.online_users online users
    for user in online_users
      li.names
        if user.online
          img(src="/images/online.png")
          =user.user_name
    h4.offline_users offline users
    for user in online_users
      li.names
        if !user.online
          img(src="/images/offline.png")
          =user.user_name