.six.columns.messages
  .new_message
    img(src="http://placehold.it/48x48/000000/ffffff/")
    a(href="#") @koadr
    p View my profile page
    hr.line_resize
    input.eleven.message_box(type="text" , placeholder="Share what's new...")
  for user in users.models
    .latest_messages
      img.mini_profile_pic(src="http://placehold.it/48x48/000000/ffffff/")
      a(href='#')
        = "@" + user.get('user_name')
      p
        | Hello World! This is my first ever message! I hope you enjoy this app as much as I do. It's amazing how easy it is to create something of magnitude.
.two.columns
  .trending_box
    h3.capitalize.trending_header Trending on Koadr
    for user in users.models
      li
        = user.get('user_name')
.four.columns
  .chatroom
    h4.trending_header
      | koadr
    h4 Online Users
    for user in users.models
      li
        if user.get('online')
          =user.get('user_name')
    h4 Offline Users
    for user in users.models
      li
        if !user.get('online')
          =user.get('user_name')


