extends ../../../views/layout

block content

  h1.tagline Providing tools for <b class="green_background">people</b> to <b class="yellow_background">communicate</b> on the web.
  .homepage_info.center_text
    .four.columns
      img(src="/images/foundation/orbit/meet.png")
      h3 Meet
      p A simple platform where people can bump into each other.

    .four.columns
      img(src="/images/foundation/orbit/greet.png")
      h3 Greet
      p Message your friends or those you've never met. Did i say it was simple!

    .four.columns
      img(src="/images/foundation/orbit/chat.png")
      h3 Chat
      p Live Instant Messaging app for users to SMS.